* {
  font-family: "Montserrat", sans-serif !important;
  /* font-size: 20px; */
}

html,
body {
  overflow-x: hidden;
}

body {
  position: absolute;
  top: 15px;
}

div,
p,
h1,
h2,
h3,
h4,
h5,
h6,
li {
  text-decoration: none;
  padding: 0;
  margin: 0;
  font-weight: var(--text-normal-weight);
  /* color: var(--text-dark-color); */
}

/* FONTS */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  src: local("Montserrat Light"), local("Montserrat-Light"),
    url(../assets/fonts/Montserrat/Montserrat-Light.ttf) format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: local("Montserrat Regular"), local("Montserrat-Regular"),
    url(../assets/fonts/Montserrat/Montserrat-Regular.ttf) format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  src: local("Montserrat Medium"), local("Montserrat-Medium"),
    url(../assets/fonts/Montserrat/Montserrat-Medium.ttf) format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  src: local("Montserrat SemiBold"), local("Montserrat-SemiBold"),
    url(../assets/fonts/Montserrat/Montserrat-SemiBold.ttf) format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: local("Montserrat Bold"), local("Montserrat-Bold"),
    url(../assets/fonts/Montserrat/Montserrat-Bold.ttf) format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  src: local("Montserrat Bold"), local("Montserrat-Bold"),
    url(../assets/fonts/Montserrat/Montserrat-ExtraBold.ttf) format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Quattrocento Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Quattrocento Sans Regular"), local("QuattrocentoSans-Regular"),
    url(../assets/fonts/QuattrocentoSans/QuattrocentoSans-Regular.ttf)
      format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Quattrocento Sans";
  font-style: normal;
  font-weight: 700;
  src: local("Quattrocento Sans Bold"), local("QuattrocentoSans-Bold"),
    url(../assets/fonts/QuattrocentoSans/QuattrocentoSans-Bold.ttf)
      format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Quattrocento Sans";
  font-style: italic;
  font-weight: 400;
  src: local("Quattrocento Sans Italic"), local("QuattrocentoSans-Italic"),
    url(../assets/fonts/QuattrocentoSans/QuattrocentoSans-Italic.ttf)
      format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Quattrocento Sans";
  font-style: italic;
  font-weight: 700;
  src: local("QuattrocentoSans Bold Italic"),
    local("QuattrocentoSans-Bold-Italic"),
    url(../assets/fonts/QuattrocentoSans/QuattrocentoSans-BoldItalic.ttf)
      format("truetype");
  font-display: swap;
}

/* FONTS END */
a {
  color: unset;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: unset;
}

html {
  scroll-behavior: smooth;
}

/* LAYOUT */
:root {
  --main-dark-color: #272727;
  --main-light-color: #ffffff;
  --main-green-color: #5bbd70;
  --main-dark-green-color: #2c8f42;
  --main-blue-color: #7bb9fa;
  --main-darker-blue-color: #397bcb;
  --main-even-darker-blue-color: #2966b1;
  --main-purple-color: #6761d6;

  --main-top-spacing: 80px;
  --desktop-spacing: 7.5vw;
  --mobile-spacing: 10px;

  --text-light-color: #ffffff;
  --text-light-inactive-color: #ffffff81;
  --text-dark-color: #010104;
  --text-dark-inactive-color: #27272765;

  --text-hover-weight: 500;
  --text-active-weight: 700;
  --text-bold-medium-weight: 600;
  --text-normal-weight: 400;
  --text-normal-bolder-weight: 500;

  --border-radius-medium: 4px;
  --border-radius-rounder: 20px;

  --tab-underline-color: #7bb9fa;
  --tab-underline-size: 3px;

  --transition-time: 0.1s;
  --transition-time-2: 0.3s;

  --sidebar-width: 250px;
  --middle-white-space: 100px;

  --fab-size: 80px;
  --fab-size-mobile: 56px;
  --fab-bottom: 30px;
  --fab-right: 30px;

  --fab-progress-bottom: 30px;
  --fab-progress-right: 30px;

  --navbar-overlay-1: 100px;
  --navbar-overlay-2: 200px;

  --navbar-height: 100px;
  --navbar-top-bottom-padding: 30px;
  --navbar-height-mobile: 80px;
  --navbar-top-bottom-mobile-padding: 15px;
}

button:focus {
  outline: none;
}
/* LAYOUT END */

/* COLORS */
.bg-dark {
  background-color: var(--main-dark-color) !important;
}
/* COLORS END  */

/* NAVBAR */
nav.navbar {
  padding: var(--navbar-top-bottom-padding);
  padding-left: var(--desktop-spacing);
  padding-right: var(--desktop-spacing);
  height: var(--navbar-height);
  font-size: 14px;
  top: 15px;
  /* background: linear-gradient(
    180deg,
    #000000 22.66%,
    rgba(0, 0, 0, 0.25) 182.95%
  );
  box-shadow: 0px 4px 13px rgba(0, 0, 0, 0.25); */
}

.navbar-overlay-1 {
  position: absolute;
  top: 0;
  width: 100%;
  height: var(--navbar-overlay-1);
  background: linear-gradient(
    180deg,
    #000000 22.66%,
    rgba(0, 0, 0, 0.25) 182.95%
  );
  box-shadow: 0px 4px 13px rgba(0, 0, 0, 0.25);
  /* backdrop-filter: blur(20px); */
  /* background-color: #000000; */
}

/* .navbar-overlay-2 {
  position: absolute;
  top: calc(var(--navbar-overlay-1));
  width: 100%;
  height: var(--navbar-overlay-2);
  background: linear-gradient(to top, #ffffff00, #000000);
} */

.navbar-dark .navbar-toggler {
  border: none;
  color: var(--main-light-color);
}

.wiki-navbar {
  /* background: linear-gradient(to top, #ffffff00, #000000); */
}

.navbar-dark-opaque {
  background: var(--main-dark-color);
}

.navbar-brand {
  font-weight: var(--text-normal-weight);
  font-size: 24px;
}

.nav-link {
  color: var(--text-light-inactive-color);
  font-weight: var(--text-normal-bolder-weight);
  padding: 0.5em;
  padding-left: 25px !important;
  padding-right: 25px !important;
}

.nav-link-active {
  color: var(--text-light-color) !important;
}

.dropdown-toggle::after {
  display: none;
}

.dropdown-menu {
  background-color: var(--main-dark-color);
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 13px rgba(0, 0, 0, 0.25);
}

.dropdown-item {
  color: var(--text-light-inactive-color) !important;
  font-weight: var(--text-normal-bolder-weight);
  padding: 15px 30px;
  font-size: 14px;
}

.dropdown-item:focus,
.dropdown-item:hover {
  color: var(--text-light-color) !important;
  text-decoration: none;
  background-color: var(--main-dark-color);
}

.dropdown-item::after {
  content: "";
  display: block;
  width: 0%;
  transition: 0.2s ease-in;
  margin-top: 3px;
  border-radius: 10px;
  transform: translateX(0%);
  height: var(--tab-underline-size, 2px);
  background-color: var(--tab-underline-color, currentColor);
  transition: 0.1s ease-in;
}

.dropdown-item:hover::after,
.dropdown-item-active::after {
  content: "";
  display: block;
  width: 60%;
  margin-top: 3px;
  border-radius: 10px;
  /* transform: translateX(0%); */
  height: var(--tab-underline-size, 2px);
  background-color: var(--tab-underline-color, currentColor);
  opacity: 1;
}

.dropdown-item-active {
  color: var(--text-light-color) !important;
}

.dropdown-item-active::after {
  opacity: 1;
}

.header-progress {
  height: 5px;
  width: 100%;
  position: fixed;
  top: calc(var(--navbar-height) + 15px);
  z-index: 3;
  box-shadow: 0px 4px 13px rgba(0, 0, 0, 0.25);
  display: none;
  background-color: var(--main-dark-color);
}

.header-progress-indicator {
  height: 5px;
  width: 60%;
  background-color: var(--main-blue-color);
}

@media screen and (max-width: 768px) {
  nav.navbar {
    padding: var(--navbar-top-bottom-mobile-padding);
    height: unset;
  }

  .header-progress {
    top: 80px;
    top: var(--navbar-height-mobile);
  }
}
/* NAVBAR END */

/* TABS */
.tab {
  --animation-time: 200ms;

  position: relative;
  overflow: hidden;
  font-size: 14px;
}

.tab::after {
  content: "";
  display: block;
  bottom: 0;
  left: 25px;
  width: 0%;
  border-radius: 10px;
  height: var(--tab-underline-size);
  position: absolute;
  background-color: var(--tab-underline-color, currentColor);
  transition: 0.1s ease;
}

.tab:hover::after {
  width: 60%;
  opacity: 1;
}

.tabs-wrapper {
  display: flex;
  justify-content: center;
  border-radius: 6px 6px 0 0;
}

.tab {
  color: inherit;
  padding: 10px;
  text-decoration: none;
  white-space: nowrap;
  line-height: 1;
}

.nav-link-active::after {
  content: "";
  display: block;
  bottom: 0;
  left: 25px;
  width: 60%;
  border-radius: 10px;
  transform: translateX(0%);
  height: var(--tab-underline-size, 2px);
  position: absolute;
  background-color: var(--tab-underline-color, currentColor);
  opacity: 1 !important;
}

.navbar .nav-item .dropdown-menu {
  display: none;
}

.navbar .nav-item:hover .dropdown-menu {
  display: block;
}

.navbar .nav-item .dropdown-menu {
  margin-top: 0;
}

@media screen and (max-width: 768px) {
  .nav-item .tab::after {
    left: 0;
    padding-right: 0;
  }
}

/* TABS END */

/* MAIN */
main.container {
  height: auto;
  margin: 0 var(--desktop-spacing);
  margin-top: var(--main-top-spacing);
  padding: 0;
  display: flex;
  flex-direction: column;
  max-width: calc(100% - 2 * var(--desktop-spacing)) !important;
  overflow: hidden;
}

main.wiki {
  width: 100%;
  position: relative;
}

@media screen and (max-width: 768px) {
  main.container {
    margin: 0 var(--mobile-spacing);
    max-width: calc(100% - 2 * var(--mobile-spacing)) !important;
  }
}
/* MAIN END */

/* BANNER */
.banner {
  width: 100%;
  margin-top: 0;
  padding: 0 0;
  height: 800px;
  background-image: url(../assets/images/images/bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 60px var(--desktop-spacing);
}

.banner-overlay {
  width: 100%;
  height: 630px;
  position: absolute;
  top: 200px;
  left: 0;
  background: linear-gradient(to bottom, #ffffff00, #000000);
}

.banner-h1 {
  font-size: 50px;
  font-weight: 700;
  color: var(--main-light-color);
  margin-top: 20px;
  z-index: 2;
}

.banner-h2 {
  font-size: 30px;
  font-weight: 500;
  color: var(--main-light-color);
  margin-top: 50px;
  z-index: 2;
}

.banner-p {
  font-size: 19px;
  color: var(--main-light-color);
  margin-top: 50px;
  font-weight: 500;
  z-index: 2;
  max-width: 1000px;
}

.banner-drylab {
  background-image: url(../assets/images/images/landing_drylab.png);
}

.banner-hp {
  background-image: url(../assets/images/images/landing_hp.png);
}

.banner-judges {
  background-image: url(../assets/images/images/landing_judges.png);
}

.banner-ml {
  background-image: url(../assets/images/images/landing_ml.png);
}

.banner-notebook {
  background-image: url(../assets/images/images/landing_notebook.png);
}

.banner-team {
  background-image: url(../assets/images/images/landing_team.png);
}

.banner-wetlab {
  background-image: url(../assets/images/images/landing_wetlab.png);
}

@media screen and (max-width: 768px) {
  .banner {
    padding: 20px var(--mobile-spacing);
    height: 500px;
  }

  .banner-overlay {
    top: 100px;
    height: 430px;
  }

  .banner-h1 {
    font-size: 40px;
  }

  .banner-h2 {
    font-size: 30px;
    margin-top: 20px;
  }

  .banner-p {
    font-size: 15px;
    margin-top: 20px;
  }
}
/* BANNER END */

/* SIDE NAV */
.side-nav {
  font-size: 14px;
  width: var(--sidebar-width);
  float: left;
  background-color: var(--main-light-color);
  /* background-color: #82828214; */
  padding: 20px;
  border-radius: 10px;
}

@media screen and (min-width: 768px) {
  .side-nav-fixed {
    position: fixed;
    top: 160px;
  }

  .side-nav-absolute {
    position: absolute;
  }
}

@media screen and (max-width: 768px) {
  .side-nav {
    position: relative;
    top: unset;
    z-index: 2;
    margin: 30px 0;
  }
}

.page-title {
  color: var(--main-green-color);
  text-transform: uppercase;
  font-size: 20px;
  font-weight: var(--text-active-weight);
  margin: 0 0 30px 0;
}

.side-nav-menu {
  display: flex;
  flex-direction: column;
}

.side-nav-menu-item {
  color: var(--text-dark-inactive-color);
  margin: 10px 0;
  width: min-content;
  white-space: nowrap;
  font-weight: var(--text-bold-medium-weight);
  transition: var(--transition-time) ease;
}

.side-nav-menu-item-active {
  color: #6761d6 !important;
  font-weight: var(--text-active-weight);
}

.side-nav-menu-item:hover {
  text-transform: none;
  text-decoration: none;
}

.side-nav-menu-item:not(.side-nav-menu-item-active):hover {
  color: var(--text-dark-color);
}

.side-nav-menu-item::before {
  content: "";
  border: 2px solid #7bb8fa46;
  background-color: #7bb9fa46;
  height: 50%;
  width: 2px;
  transform: translateY(-1rem);
  margin-right: 10px;
  opacity: 0;
  transition: var(--transition-time) ease-in;
}

.side-nav-menu-item-active::before {
  border: 2px solid var(--main-blue-color);
  background-color: var(--main-blue-color);
  opacity: 1;
}

.side-nav-menu-item:hover::before {
  opacity: 1;
}

/* SIDE NAV END */

/* BANNER BACKGROUND IMAGES */
.banner-notebook {
  background-image: url(../assets/images/images/notebook-banner.png);
}
/* BANNER BACKGROUND IMAGES END */

/* WIKI CONTENT */
.wiki-content {
  width: calc(100% - var(--sidebar-width) - var(--middle-white-space));
  float: right;
  margin-left: calc(var(--middle-white-space) + var(--sidebar-width));
  position: relative;
  word-break: break-word;
}

.wiki-content-no-margin {
  margin-left: 0;
  margin-right: 0;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .wiki-content {
    width: 100%;
    margin: 0px;
  }
}
/* WIKI CONTENT END */

/* WIKI COMPONENTS */
.wiki-bold {
  font-size: 14px;
  font-weight: 700;
}

.wiki-h {
  color: var(--main-darker-blue-color);
  font-weight: 600;
  margin: 15px 0;
}

.wiki-h1 {
  font-size: 50px;
  margin-top: -130px;
  padding-top: 135px;
}

.wiki-h1:first-of-type {
  margin-top: -130px;
  padding-top: 130px;
}

.wiki-h2 {
  font-size: 35px;
}

.wiki-h3 {
  font-size: 30px;
}

.wiki-h4 {
  font-size: 25px;
}

.wiki-h5 {
  font-size: 20px;
}

.wiki-p {
  font-size: 14px;
  margin: 10px 0;
  /* font-weight: 500; */
  /* font-family: Helvetica, sans-serif !important;
  letter-spacing: 0.5px;
  word-spacing: 1.3px; */
}

.wiki-a {
  color: var(--main-darker-blue-color);
  font-weight: 700;
  text-decoration: none;
  word-break: break-word;
}

.wiki-a:hover {
  text-decoration: underline;
  color: var(--main-darker-blue-color);
}

.wiki-link-button {
  margin: 15px auto;
  padding: 15px 25px;
  background-color: var(--main-darker-blue-color);
  border-radius: 10px;
  color: var(--main-light-color) !important;
  font-weight: var(--text-active-weight);
  text-align: center;
  transition: all 0.1s ease;
  display: block;
  white-space: nowrap;
  width: min-content;
  box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.2);
}

.wiki-link-button:hover {
  background-color: var(--main-even-darker-blue-color);
  box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.322);
  color: var(--text-light-color);
}

.wiki-ol li,
.wiki-ul li {
  font-size: 14px !important;
}

.wiki-ul {
  font-size: 20px;
  list-style: none;
  margin: 40px 10px !important;
  margin-left: 40px !important;
}

.wiki-ul li::before {
  content: "\2022";
  color: var(--main-purple-color);
  font-weight: 800;
  display: inline-block;
  width: 1em;
  font-size: 30px;
  margin-left: -1em !important;
}

.wiki-ol {
  margin: 40px 10px !important;
  counter-reset: item;
}

.wiki-ol li {
  display: block;
  margin-bottom: 15px !important;
}

.wiki-ol li:before {
  content: counter(item) ". ";
  counter-increment: item;
  color: var(--main-purple-color);
  font-weight: 700;
  margin-right: 15px !important;
  font-size: inherit;
}

.wiki-ol .wiki-ol,
.wiki-ul .wiki-ul,
.wiki-ul .wiki-ol,
.wiki-ol .wiki-ul {
  margin: 15px 0 !important;
  padding-left: 30px !important;
}

.wiki-ul.wiki-list-purple li::before,
.wiki-ul.wiki-list-purple li::before {
  color: var(--main-purple-color);
}

.wiki-ul.wiki-list-green li::before,
.wiki-ul.wiki-list-green li::before {
  color: var(--main-green-color);
}

.wiki-ul > li::before {
  position: relative;
  bottom: -4px;
}

.wiki-table {
}

.wiki-graphic {
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wiki-graphic img {
  max-width: 85%;
  display: block;
  border-radius: 10px;
  margin: 0;
}

.wiki-graphic-reference {
  font-size: 16px;
  margin: 5px 0;
  font-weight: var(--text-bold-medium-weight);
}

.table {
  margin: 40px auto;
}

.table .thead-dark th {
  background-color: var(--main-dark-color);
}

.wiki-collapsible {
  color: #5c5c5c;
  font-weight: 600;
  font-size: 30px !important;
  cursor: pointer;
  padding: 25px 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  background-color: transparent;
  border-radius: 4px;
  transition: all 0.1s ease;
}

.wiki-collapsible-active,
.wiki-collapsible:hover {
  color: var(--main-green-color);
}

.wiki-collapsed-content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  border-bottom: 2px solid #d0d0d0c0;
}

.wiki-collapsed-content-expanded {
  padding: 20px 18px;
}

.wiki-chevron-down {
  width: 20px;
  margin-left: 20px;
  transform: rotate(0deg);
  transition: all 0.1s ease;
}

.wiki-collapsible-active .wiki-chevron-down {
  transform: rotate(180deg);
}

.wiki-hr {
  margin: 30px auto;
  padding: 0;
  width: 70%;
  background-color: transparent;
  color: transparent;
  height: 0px;
  border-bottom: 3px solid rgba(128, 128, 128, 0.63);
}

.wiki-hr2 {
  margin: 0 auto;
  padding: 0;
  width: calc(100% - 20px);
  background-color: transparent;
  color: transparent;
  height: 0px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.63);
}

.wiki-hr3 {
  margin: 0 auto;
  padding: 0;
  width: calc(100%);
  background-color: transparent;
  color: transparent;
  height: 0px;
  border-bottom: 4px solid rgba(128, 128, 128, 0.63);
}

.wiki-interview {
  margin: 25px 0;
}

.interviewees {
  display: flex;
  flex-direction: row;
  margin: 10px 0;
}

.interview-details {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.interviewee {
  margin: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.interviewee-image {
  padding: 15px;
  width: 200px;
  border-radius: 1000px;
  margin: auto;
}

.interviewee-info {
  text-align: center;
}

.interviewee-name {
  padding: 5px 0 15px 0;
  font-family: Helvetica, sans-serif !important;
  letter-spacing: 1px;
}

.interviewee-about {
  font-size: 13px;
  font-weight: 500;
  font-family: Helvetica, sans-serif !important;
}

.interview-description {
  text-align: left;
  max-width: 500px;
  margin: auto auto;
}

.interview-link {
  margin: 25px 0;
}

.wiki-indent {
  padding-left: 30px;
}

.wiki-reference {
  font-family: "Quattrocento Sans" !important;
  font-weight: 600;
  margin: 20px 0;
  font-size: 16px;
  color: #5c5c5c;
}

.wiki-align-right {
  text-align: right;
}

.row-reverse {
  flex-direction: row-reverse;
}

.wiki-green {
  color: var(--main-green-color) !important;
}

.wiki-blue {
  color: var(--main-darker-blue-color) !important;
}

.wiki-dark {
  color: #5c5c5c !important;
}

.wiki-purple {
  color: var(--main-purple-color);
}

.side-wrapped {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.side-wrapped-reversed {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.side-wrapped .table {
  width: unset;
}

.side-wrapped-item {
  margin: auto;
}

.image-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 25px 0 100px 0;
}

.align-center {
  justify-content: center;
}

.image-link-image {
  height: 100px;
  width: 100px;
  border-radius: 4px;
  margin: 0 20px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.image-link-text {
  max-width: 100px;
  font-size: 12px;
  font-weight: 600;
  text-align: center;
  position: relative;
  top: 110px;
}

.carousel-indicators li {
  background-color: #2727275b;
}

.carousel-indicators .active {
  background-color: #272727d0;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.carousel-item {
  height: 500px;
  /* background-image: url(../assets/images/images/DL_Modelling_ab-initio_model_2.png); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  color: var(--main-dark-color);
}

.carousel-inner img {
  height: 100%;
  max-width: 100%;
}

.carousel-caption {
  background: linear-gradient(to top, #ffffffd1, #ffffff91);
  color: #121212;
}

.wiki-notebook-collapsible {
  color: var(--main-darker-blue-color);
  text-align: center;
  transition: all 0s;
}

.wiki-notebook-collapsible:hover {
  text-decoration: underline;
  text-decoration-color: #5bbd703b;
  color: var(--main-even-darker-blue-color);
}

.wiki-notebook-collapsible.wiki-collapsible-active {
  text-decoration: underline;
  text-decoration-color: var(--main-green-color);
  color: var(--main-even-darker-blue-color);
}

.wiki-notebook-collapsed-content {
  border-bottom: none;
}

.feature-cards {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
}

.feature-card {
  border-radius: 7px;
  background-color: rgb(200 227 255 / 17%);
  padding: 35px 20px;
  margin: 15px;
}

.feature-card-notebook {
  width: 33%;
}

.feature-card-2 {
  padding: 35px;
}

.feature-card-heading {
  text-align: center;
  font-size: 20px;
}

.feature-card-image {
  max-width: 60%;
}

.notebook-banner-p {
  width: 40%;
  font-size: 20px;
  font-weight: 400;
}

.medal {
  margin: 0;
  margin-right: 70px;
  float: right;
}

.feature-image {
  width: 65%;
}

.feature-text {
  font-family: "Quattrocento Sans";
}

.link-row {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: auto;
  max-width: 100%;
  margin: 10px 0;
}

.link-row a {
  margin: 20px;
}

@media screen and (max-width: 768px) {
  .notebook-banner-p {
    width: 95%;
  }

  .feature-cards {
    flex-direction: column;
  }

  .feature-card-notebook {
    width: 100%;
  }
}
/* WIKI COMPONENTS END */

/* FAB */
.fab-border {
  width: calc(var(--fab-size));
  height: calc(var(--fab-size));
  background-color: var(--main-dark-color);
  border-radius: 100px;
  box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: var(--fab-bottom);
  right: var(--fab-right);
  z-index: 10;
  transition: all 0.1s ease;
}

.fab {
  position: fixed;
  bottom: calc(var(--fab-bottom) + 7px);
  right: calc(var(--fab-right) + 7px);
  height: calc(var(--fab-size) - 15px);
  width: calc(var(--fab-size) - 15px);
  border-radius: 100px;
  background-color: var(--main-dark-color);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 15;
}

.fab:hover {
  cursor: pointer;
  opacity: 0.9;
}

.fab-next-section {
  width: 50%;
}

.fab-top-section {
  width: 35%;
}

.fab-top-section {
  display: none;
}

.circular-progress-container {
  position: fixed;
  bottom: var(--fab-progress-bottom);
  right: var(--fab-progress-right);
  height: calc(var(--fab-size));
  width: calc(var(--fab-size));
  z-index: 14;
  border-radius: 100%;
}

.circular-progress-container svg {
  transform: rotate(-90deg);
}

.circular-progress-container svg circle {
  stroke: rgba(0, 0, 0, 0.1);
  stroke-width: 4px;
  fill: transparent;
  position: fixed;
  bottom: var(--fab-progress-bottom);
  right: var(--fab-progress-right);
  height: calc(var(--fab-size) * 3);
  width: calc(var(--fab-size) * 3);
}

.circular-progress-container .progress-pie {
  stroke: var(--main-green-color);
}

/* @media screen and (max-width: 768px) {
  .fab-border {
    width: calc(var(--fab-size-mobile) + 8px);
    height: calc(var(--fab-size-mobile) + 8px);
  }

  .fab-progress-indicator {
    width: calc(var(--fab-size-mobile) + 8px);
    height: calc(var(--fab-size-mobile) + 8px);
  }

  .fab {
    height: var(--fab-size-mobile);
    width: var(--fab-size-mobile);
    bottom: calc(var(--fab-bottom) + 4px);
    right: calc(var(--fab-right) + 4px);
  }

  .circular-progress-container {
    bottom: calc(var(--fab-progress-bottom) - 10px);
    right: calc(var(--fab-progress-right) - 10px);
  }
} */
/* FAB ENDS */

/* FOOTER */
.footer {
  width: 100%;
  background: var(--main-dark-color);
  color: var(--main-light-color);
  clear: both;
  padding: 45px var(--desktop-spacing);
  display: flex;
  flex-direction: column;
  font-size: 14px;
}

.footer-brand a {
  color: var(--main-blue-color);
  font-weight: 500;
  font-size: 20px;
}

.footer-lists {
  font-weight: var(--text-bold-medium-weight);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
}

.footer-list {
  display: flex;
  flex-direction: column;
}

.footer-list-title {
  text-transform: uppercase;
  color: var(--main-green-color) !important;
  font-size: 14px;
  padding: 30px 0;
  font-weight: var(--text-bold-medium-weight);
}

.footer-list-item {
  color: var(--text-light-inactive-color) !important;
  padding: 0;
  padding-bottom: 10px;
  margin: 15px 0;
  width: min-content;
  font-weight: var(--text-normal-weight);
}

.footer-list span {
  color: var(--text-light-inactive-color) !important;
}

.footer-list-item:hover,
.footer-list span:hover {
  color: var(--text-light-color) !important;
}

.footer-list-item::after {
  left: 0;
}

.footer-list-item-active,
.footer-list-item-active span {
  color: var(--text-light-color) !important;
}

.footer-list-item-active::after {
  width: 60%;
}

.footer-section-heading {
  font-weight: var(--text-bold-medium-weight) !important;
  margin: 0 0 20px 0;
}

.footer-info {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}

.footer-info-address {
  color: var(--main-light-color) !important;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-james-thomason {
  width: 400px;
  padding-top: 40px;
}

.footer-james-thomason-mobile {
  width: 90%;
  margin: 0 auto;
  display: none;
  padding-top: 20px;
}

.footer-info-socials {
  text-align: right;
}

.socials {
  margin: 30px 0;
}

.social {
  margin: 20px;
}

.social img {
  width: 30px;
}

.social img:hover {
  opacity: 0.8;
}

.contacts {
  display: flex;
  flex-direction: column;
  margin: 30px 0;
}

.contact {
  color: var(--text-light-color) !important;
  margin: 5px;
}

.contact span {
  color: var(--text-light-color) !important;
}

@media screen and (max-width: 768px) {
  .footer {
    padding: 30px var(--mobile-spacing);
    text-align: center;
  }

  .footer-lists {
    display: none;
  }

  .footer-info {
    flex-direction: column;
    margin-top: 30px;
  }

  .footer-info-address {
    max-width: unset;
  }

  .footer-james-thomason {
    width: 90%;
    margin: 0 auto;
    display: none;
  }

  .footer-james-thomason-mobile {
    display: inline-block;
  }

  .footer-info-socials {
    text-align: center;
    margin-top: 20px;
  }
}
/* FOOTER END */
